
.Encabezado{
    font-family: 'Lobster', cursive;
    color: rgb(29, 29, 29);
    text-align: center;
    background-color: bisque;
}

body{
    background-color: rgb(231, 193, 142);
}

table{
    display: flex;
    justify-content: center;
}

.GMS{
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    background-color: rgb(255, 219, 169);
}
.Unity{
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    background-color: rgb(255, 219, 169);
}

.Unreal{
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}

.GODOT{
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}